# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare files that should always have LF line endings
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.kt text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
Makefile text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.aar binary
*.jar binary
*.so binary

